
body{
	color:#3a3a3a;
	font-family: Microsoft JhengHei, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main{
	padding-top: 90px;
}

.page-title{
	border-left:3px solid $primary; 
}

.section-title{
	// border-bottom:3px solid $secondary;
	border-left:3px solid $primary;
	padding-left: 0.5rem;
}