/* color */
$primary: #34d0ba;
$primaryR:#ff9400;
$warning: $primaryR;
// $primary_hover: #9f1b00;
$success: #ffc107;
$danger: #f12a02;
$info: #00c3ff;
$secondary: #9e9e9e;
// $light: #bdbdbd;
// $primary_grey : #7C7C7C;
// $blue : #039be5;
// $alert-bg-level: 0;
// $light_pink:#fff2f2;
/* grid */

$bodyMarginTop:40px;
$headerHeight:50px;
