/* color */
$primary: #00d1b2;
// $primary_hover: #9f1b00;
// $success: #c52100;
// $danger: #c52100;
// $info: #193061;
// $secondary: #9e9e9e;
// $light: #bdbdbd;
// $primary_grey : #7C7C7C;
// $blue : #039be5;
// $alert-bg-level: 0;
// $light_pink:#fff2f2;
/* grid */
// $bodyMarginTop:50px;
// $headerHeight:50px;
