{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "scssPath": "./scss"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"],
        "include":"./scss"
      }
    ]
  ]
}