@import "../scss/_var.scss";
@import "../scss/_mixin.scss";
.resume{
	.btn-tools{
		position: fixed;
		z-index: 100;
		border-radius: 50%;
		padding: 10px;
		width:50px;
		height:50px;
		background: #fff;
		box-shadow: 0px 6px 5px 1px rgba(90, 53, 53, 0.1);
		right: 2vw;
		&.btn-download{
		bottom: 120px;	
		}
		&.btn-print{
		bottom: 50px;
		}
		svg{
			width:20px;
			height:20px;
		}

	}
	.image-box{
		flex: 0 0 auto;
		// width:200px;
		img.img-me{
			height:auto;
			width:200px;
		}
	}
	.detail-list{
		.detail-list-title{
			font-weight: 600;
		}
		.title{
			/*display: flex;*/
			font-weight: 400;
			margin-bottom: 1.5rem;

			.small{
				padding-right: 1rem;
				// padding-left: 1rem;
				font-size: 75%;
				// color:$primary;
			}
		}
		
	}
	
}