@import "../scss/_var.scss";
.resume{
	.image-box{
		flex: 0 0 auto;
		// width:200px;
		img.img-me{
			height:auto;
			width:200px;
		}
	}
	.detail-list{
		.detail-list-title{
			font-weight: 600;
		}
		.title{
			/*display: flex;*/
			font-weight: 400;
			margin-bottom: 1.5rem;

			.small{
				padding-right: 1rem;
				// padding-left: 1rem;
				font-size: 75%;
				// color:$primary;
			}
		}
		
	}
	
}